<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center;">Publicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-lista-avisos [aviso]="listaAvisos"></app-lista-avisos>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
      <ion-col size="auto">
        <ion-button [routerLink]="['/publicacion']">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>